@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    -moz-print-color-adjust: exact !important;
    -ms-print-color-adjust: exact !important;
  }
  /* html,
  body {
    width: 297mm;
    height: 210mm;
  } */
  .box {
    border: 0 !important;
  }
  footer,
  .not-print,
  .dataTables_length,
  .dataTables_filter,
  .dataTables_paginate,
  .dataTables_info {
    display: none !important;
  }
  .box-body {
    padding: 0 !important;
  }
  .token-list {
    font-size: 15px !important;
  }
  .token-list td,
  .token-list th {
    padding: 5px 8px !important;
  }
}

@page {
  size: legal landscape;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.token-list {
  min-width: 297mm !important;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #c6c6c6;
}

.token-list td,
.token-list th {
  text-align: center;
  padding: 6px 8px;
  border: 1px solid #f2f2f2;
}

.token-list tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.status-date {
  display: block;
  font-size: 12px;
  color: #9b9b9b;
  padding: 0;
  margin: 0;
  margin-top: -7px;
}
